{% extends 'aliwood/layout/base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.css">
{% endblock style %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
{% endblock js %}

{% block contents %}
<div class="content dark full-screen detail">
  <div class="detail-wrapper">
    <div class="back-btn flexCenter">
      <a href="../data" class="flexCenter"><span class="glyphicon glyphicon-menu-left"></span></a>
    </div>
    <div class="player-tag-wrapper">
      <div class="video-player" id="dplayer"></div>
      <div class="video-tag-wrapper">
        <div class="video-tag-item">
          <div class="video-tag-title">产品标签</div>
          <div class="video-tag-group">
            <div class="video-tag-box flexCenter flexColumn">
              <div class="video-tag-subtitle">产品类型</div>
              <div class="video-tag">外套</div>
            </div>
            <div class="video-tag-box  flexCenter flexColumn">
              <div class="video-tag-subtitle">拍摄场景</div>
              <div class="video-tag">室内</div>
            </div>
            <div class="video-tag-box flexCenter flexColumn">
              <div class="video-tag-subtitle">业务场景</div>
              <div class="video-tag">产品上新</div>
            </div>
            <div class="video-tag-box flexCenter flexColumn">
              <div class="video-tag-subtitle">性别</div>
              <div class="video-tag">女</div>
            </div>
          </div>
        </div>
        <div class="video-tag-item">
          <div class="video-tag-title">风格标签</div>
          <div class="video-tag-group">
            <div class="video-tag-box flexCenter flexColumn">
              <div class="video-tag-subtitle">节奏风格</div>
              <div class="video-tag">日常</div>
            </div>
            <div class="video-tag-box  flexCenter flexColumn">
              <div class="video-tag-subtitle">视频风格</div>
              <div class="video-tag">可爱</div>
            </div>
          </div>
        </div>
        <div class="video-tag-item">
          <div class="video-tag-title">基础参数</div>
          <div class="video-tag-group">
            <div class="video-tag-box flexCenter flexColumn">
              <div class="video-tag-subtitle">视频时长</div>
              <div class="video-tag">15s</div>
            </div>
            <div class="video-tag-box  flexCenter flexColumn">
              <div class="video-tag-subtitle">镜头数量</div>
              <div class="video-tag">12</div>
            </div>
            <div class="video-tag-box flexCenter flexColumn">
              <div class="video-tag-subtitle">平均镜头时长</div>
              <div class="video-tag">1.5s</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="param-curve-wrapper">
      <div class="curve-tags">
        <div class="curve-tag-item active" id="shotSize">画面景别</div>
        <div class="curve-tag-item" id="picMotion">画面运动强度</div>
        <div class="curve-tag-item" id="color">画面色调</div>
        <div class="curve-tag-item" id="position">主体位置</div>
        <div class="curve-tag-item" id="mainMotion">主体运动强度</div>
        <div class="curve-tag-item" id="emotion">主体情绪</div>
        <div class="curve-tag-item" id="totalArg">整体</div>
      </div>
      <div class="stacked-area-chart" id="stacked-area-chart"></div>
      <div class="curve-params-wrapper single-param">
        <div class="curve-params-title">画面景别</div>
        <div class="curve-param-item" id="firstShot">
          <div class="curve-param-subtitle">首镜头</div>
          <div class="curve-param-detail">中景</div>
        </div>
        <div class="curve-param-item" id="total">
          <div class="curve-param-subtitle">整体变化</div>
          <div class="curve-param-detail">大</div>
        </div>
        <div class="curve-param-item" id="endShot">
          <div class="curve-param-subtitle">尾镜头</div>
          <div class="curve-param-detail">近景</div>
        </div>
      </div>
      <div class="curve-params-wrapper all-params">
        <div class="curve-params-title">视频整体变化特征</div>
        <div class="curve-param-item-group">
          <div class="curve-param-item">
            <div class="curve-param-subtitle">画面景别变化</div>
            <div class="curve-param-detail" style="background: #F1B06F;">大</div>
          </div>
          <div class="curve-param-item">
            <div class="curve-param-subtitle">主体位置变化</div>
            <div class="curve-param-detail" style="background: #B47F7F;">小</div>
          </div>
          <div class="curve-param-item">
            <div class="curve-param-subtitle">画面运动变化</div>
            <div class="curve-param-detail" style="background: #A1A1AC;">小</div>
          </div>
          <div class="curve-param-item">
            <div class="curve-param-subtitle">主体位置变化</div>
            <div class="curve-param-detail" style="background: #6DA49E;">大</div>
          </div>
          <div class="curve-param-item">
            <div class="curve-param-subtitle">画面色调变化</div>
            <div class="curve-param-detail" style="background: #6984B1;">小</div>
          </div>
          <div class="curve-param-item">
            <div class="curve-param-subtitle">主体情绪变化</div>
            <div class="curve-param-detail" style="background: #7B6A9A;">大</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contents %}

{% block scripts %}
<script type="text/javascript">
  var context = {
	  video_Url:'',
	  gender: '女',
    product_category: '外套',
    cameraScene: '室内',
    serviceScene: '产品上新',
    tempoStyle: '日常',
    pictureStyle: '可爱',
    video_time:15,
    cram_num:12,
    clip_arvTime:1.5,
    shotSize:{
      'data': [[6, 1], [6, 3], [12, 2], [12, 4], [18, 2], [18,3]],
      'firstShot':'中景',
      'total':'大',
      'endShot':'近景',
   },
    picMotion:{
   		'data': [[6,2], [ 6, 4], [12, 1], [12, 2], [18,3], [18,4]], 
   		'firstShot':'远景',
   		'total':'小',
   		'endShot':'近景',
   },
    color:{
   		'data': [[6,0], [6, 1], [12,0], [12,2], [18, 0], [18, 3]], 
   		'firstShot':'中景',
   		'total':'大',
   		'endShot':'近景',
   },
    position:{
   		'data': [[6,1], [6,3], [12, 2], [12,3], [18, 2], [18,3]], 
   		'firstShot':'中景',
   		'total':'大',
   		'endShot':'近景',
   },
    mainMotion:{
   		'data': [[6,0], [6,2], [12,0], [12,4], [18,1], [18,3]],
   		'firstShot':'中景',
   		'total':'大',
   		'endShot':'近景',
   },
    emotion:{
   		'data': [[6, 2], [6, 3], [12, 2], [12,3], [18,1], [18,3]],
   		'firstShot':'中景',
   		'total':'大',
   		'endShot':'近景',
   },
    totalArg:{
   		shotSizeArg:'大',
   		picMotionArg:'大',
   		colorArg:'大',
   		positionArg:'大',
   		mainMotionArg:'大',
   		emotionArg:'大',
   }
  };
  // 图类型映射
  var mapType2Feat = {
    shotSize: {name: '画面景别', color: '#F1B06F'},
    picMotion: {name:'画面运动强度', color: '#B47F7F'},
    color: {name:'画面色调', color: '#A1A1AC'},
    position: {name:'主体位置',color: '#6DA49E'},
    mainMotion: {name:'主体运动强度',color: '#6984B1'},
    emotion: {name:'主体情绪',color:'#7B6A9A'}
  }
  // 图类型
  var type = "shotSize";  // 画面景别

  // 加载dplayer
  var dp = new DPlayer({
    container: document.getElementById('dplayer'),
    video: {url: context.video_Url}
  });

  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('stacked-area-chart'));

  var option = {
    tooltip: {
      trigger: 'axis',
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '9%',
        containLabel: true
    },
    legend: {
      data: ['画面景别', '画面运动强度', '画面色调', '主体位置', '主体运动强度', '主体情绪']
    },
    xAxis: [{
      type: 'value',
      boundaryGap: false,
    }],
    yAxis: [{
      type: 'value'
    }],
    series: [{
        name: '画面景别',
        type: 'line',
        stack: '总量',
        areaStyle: {},
        data: context.shotSize.data,
        lineStyle: {
          color: '#F1B06F',
          width: 1
        },
        areaStyle: {
          color: {
            type: 'linear',
            x: 0,
            y: 0,
            x2: 0,
            y2: 1,
            colorStops: [{
                offset: 0, color: '#F1B06F' // 0% 处的颜色
            }, {
                offset: 1, color: '#fff' // 100% 处的颜色
            }],
          }
        },
      },
    ]
  };

  // 使用刚指定的配置项和数据显示图表。
  myChart.setOption(option);

  // 切换标签
  $('.curve-tag-item').click(function () {
    $('.curve-tag-item').removeClass('active');
    $(this).addClass('active');
    type = $(this).attr('id');
    // 重新渲染
    if (type === 'totalArg') {
      var types = Object.keys(mapType2Feat);
      var series = [];
      types.forEach(function(type) {
        series.push({
          name: mapType2Feat[type].name,
          type: 'line',
          stack: '总量',
          areaStyle: {},
          data: context[type].data,
          lineStyle: {
              color: mapType2Feat[type].color,
              width: 1
          },
          areaStyle: {
            color: {
              type: 'linear',
              x: 0,
              y: 0,
              x2: 0,
              y2: 1,
              colorStops: [{
                  offset: 0, color: mapType2Feat[type].color // 0% 处的颜色
              }, {
                  offset: 1, color: '#fff' // 100% 处的颜色
              }],
            }
          },
        });
      });
      option.series = series;
      $('.curve-params-wrapper.all-params').show();
      $('.curve-params-wrapper.single-param').hide();
    } else {
      option.series = [{
        name: mapType2Feat[type].name,
        type: 'line',
        stack: '总量',
        areaStyle: {},
        data: context[type].data,
        lineStyle: {
            color: mapType2Feat[type].color,
            width: 1
        },
        areaStyle: {
          color: {
            type: 'linear',
            x: 0,
            y: 0,
            x2: 0,
            y2: 1,
            colorStops: [{
                offset: 0, color: mapType2Feat[type].color // 0% 处的颜色
            }, {
                offset: 1, color: '#fff' // 100% 处的颜色
            }],
          }
        },
      }];
      $('.curve-param-detail').css('background', mapType2Feat[type].color);
      ['firstShot', 'total', 'endShot'].forEach(function(id) {
        $('.curve-param-item#'+id+' .curve-param-detail').text(context[type][id]);
      });
    }
    myChart.setOption(option, true);
  });
</script>
{% endblock scripts %}