<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<!-- 屏幕适配pc,移动端不缩放 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/common.css' %}">
	{% block style %}
	{% endblock style %}
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
	{% block js %}
	{% endblock js %}
</head>
<body>
	<!-- 导航栏-->
	{% block header %}
	<nav class="navbar">
		<div class="navbar-brand">
			<a href="/">
				<img src="{% static 'image/brand.png' %}">
			</a>
		</div>
		<div class="navbar-nav">
			<div class="nav-link nav-link-home"><a {% if path == '/' %}class="active"{% endif %} href="/">首页</a></div>
			<div class="nav-border"></div>
			<div class="nav-link nav-link-data"><a {% if path == '/data/' %}class="active"{% endif %} href="/data">视频数据</a></div>
			<div class="nav-link"><a {% if path == '/edit/' %}class="active"{% endif %} href="/edit">视频剪辑</a></div>
			<div class="nav-link"><a {% if path == '/rank/' %}class="active"{% endif %} href="/rank">视频评价</a></div>
		</div>
		<div class="navbar-button">
			<div class="nav-link"><a {% if path == '/history/' %}class="active"{% endif %} href="/history">历史剪辑</a></div>
		</div>
	</nav>
	{% endblock header %}

	{% block contents %}
	{% endblock contents %}
	{% block foot %}
	{% endblock %}
</body>

</html>