{% extends 'aliwood/layout/with-sidebar-helper.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css"
  media="all">
<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.css">
{% endblock style %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.js"></script>
<script type="text/javascript" src="https://libs.cdnjs.net/dropzone/5.5.1/min/dropzone.min.js"></script>
{% endblock js %}

{% block contents %}
<div class="content dark full-screen paddingSideBar case-simulate">
  <div class="content-section select-case">
    <div class="content-section-title">案例选择<span>Select Case</span></div>
    <div class="content-section-items">
      <div class="content-section-item case-select">
        <div class="upload-icon">
          <img src="{% static 'image/upload.png' %}">
        </div>
        <div class="dropzone" id="case-dropzone">
          <div class="upload-describe dz-message">
            <p>点击“+”</p>
            <p>或拖拽文件到虚线框内</p>
            <p>来上传自己的案例</p>
          </div>
        </div>
        <div class="files" id="previews">
          <div class="dz-preview dz-file-preview" id="tpl">
            <div class="dz-image"><img data-dz-thumbnail></div>
            <div class="dz-details">
              <div class="dz-filename"><span data-dz-name></span></div>
            </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
            <div class="dz-delete">
              <img class="" src="{% static 'image/close.png' %}" data-dz-remove />
            </div>
          </div>
        </div>
      </div>
      <div class="content-section-item from-database">
        <a href="./case_simulate/case"><img src="{% static 'image/database.png' %}"></a>
        <div class="from-database-tip">
          <p>点击图标</p>
          <p>在数据库中</p>
          <p>选择案例视频</p>
        </div>
      </div>
         <div class="from-data-result">
              <img class="from-data-result-thumbnail" src="{% static 'image/database.png' %}">
              <div class="from-data-result-delete">
                <img src="{% static 'image/close.png' %}" />
            </div>
          </div>
    </div>
  </div>
  <div class="content-section">
    <div class="content-section-title">
      <div>素材上传<span>Upload Files</div></span>
      <div class="content-section-btn">
        <span class="glyphicon glyphicon-trash"></span>
        清空
      </div>
    </div>
    <div class="content-section-item upload-material">
      <div class="upload-icon">
        <img src="{% static 'image/upload.png' %}">
      </div>
      <div class="dropzone" id="material-dropzone">
        <p class="upload-describe dz-message">
          点击“+”或拖拽文件到虚线框内来上传自己的案例
        </p>
      </div>
    </div>
  </div>
  <div class="content-btn upload-btn">
    开始剪辑
  </div>
  <div class="player-shadow flexColumn">
    <div class="player-shadow-close" id="player-btn-close">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div class="shadow-player-wrapper flexCenter">
      <div class="shadow-player-btn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></div>
      <div class="shadow-player" id="dplayer"></div>
      <div class="shadow-player-btn"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
    </div>
    <div class="upload-btn">
      <a href="#">查看视频分析</a>
    </div>
  </div>
</div>
{% endblock contents %}

{% block sidebar %}
<div class="sidebar">
  <div class="filter active">
    <div class="filter-title"><a href="./style_templat">风格模板</a></div>
  </div>
  <div class="filter">
    <div class="filter-title"><a href="./case_simulate">案例模仿</a></div>
  </div>
  <div class="filter">
    <div class="filter-title"><a href="./custom_params">参数自定义</a></div>
  </div>
</div>
{% endblock sidebar %}

{% block scripts %}
<script type="text/javascript">
  // 素材数量
  var numMaterial = 0;
  // 案例视频id
  var videoId;
  // 含有uid时初始化
  var uid = location.search.substring(5);
  // 初始化案例选择dropzone
  var params = {
      info: []
  };
  var previewNode = document.querySelector("#tpl");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);
  var caseDropzone = new Dropzone("#case-dropzone", {
    url: "/data/video_upload?randomCode={{ randomCode }}",
    previewTemplate: previewTemplate
  });
  caseDropzone.on("success", function (file, data) {
    params.info.push({code: data.randomCode, uid: data.uid});
    file.uid = data.uid;
    videoId = data.uid;
    $('.dz-image img').last().attr('src', data.imageUrl);
    $('.from-database').css('display', 'none');
    $('.case-select .dropzone').css('width', '1.31rem');
    if (numMaterial++ === 0 && (uid || videoId)) {
        $('.upload-btn').addClass('active');
    };
  });
  caseDropzone.on('removedfile', function () {
    $('.from-database').css('display', 'block');
    var idx = params.info.findIndex(function(item, idx) {
          return item.uid === file.uid;
      });
      var item = params.info[idx];
      $.post('/data/video_delete', {randomCode: item.code, uid:item.uid});
      params.info.splice(idx, 1);
  });

  // 初始化素材上传dropzone
  var materialDropzone = new Dropzone("#material-dropzone", {
    url: "/data/video_upload?randomCode={{ randomCode }}",
    previewTemplate: previewTemplate
  });
  materialDropzone.on("succsess", function (file, data) {
    params.randomCode = data.randomCode;
    params.uid = data.uid;
    $('.dz-image img').attr('src', data.imageUrl);
    if (numMaterial++ === 0) {
        $('.upload-btn').addClass('active');
    };
  });
  materialDropzone.on('removedfile', function () {
    $(".upload-btn").toggleClass('active');
    $.post('/data/video_delete', {randomCode: params.randomCode,uid:params.uid});
    if (numMaterial-- === 1) {
          $('.upload-btn').removeClass('active');
      };
  });
  // 清空所有素材
  $('.content-section-btn').click(function () {
    materialDropzone.removeAllFiles();
    $('.upload-btn').removeClass('active');
    numMaterial = 0;
  });

  $('.upload-btn').click(function() {
    $.get('', {styleId: styleId});
  });

  if (uid) {
    $('.select-case .content-section-item').css('display', 'none');
    $('.from-data-result-delete img').attr('src', 'url');
    $('.from-data-result-delete').click(function() {
      $('.select-case .content-section-item').css('display', 'block');
      $('.from-data-result').css('display', 'none');
     });
  } else {
    $('.from-data-result').css('display', 'none');
  }

  // 开始剪辑
  $('.upload-btn').click(function() {
    // TODO: 返回视频id
    $.get('', {uid: videoId || uid || ''}, function(data) {
      window.open('gen_video?videoId=' + data.videoId, '_self');
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/player-shadow.js' %}"></script>
{% endblock scripts %}