{% extends 'aliwood/layout/with-sidebar-helper.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.css">
{% endblock style %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.js"></script>
{% endblock js %}

{% block contents %}
<div class="content dark full-screen paddingSideBar">
  <div class="video-list-wrapper content-section">
    {% for video in videos %}
    <div class="video-item" id="{{ video.url }}" uid="1313">
      <div class="video-item-thumbnail">
        <img src="{{ video.imageUrl }}">
        <div class="video-item-icon">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <nav class="nav-pagination" aria-label="Page navigation">
    <ul class="pagination">
      <li>
          {% if videos.has_previous %}
            <a href="/?page={{ videos.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">上一页</span>
            </a>
          {% else %}
              <a href="#" aria-label="Previous">
              <span aria-hidden="true">上一页</span>
            </a>
          {% endif %}
      </li>
      <li class="active">
            <a href="?page={{ videos.number }}">{{ videos.number }}</a>
      </li>
      <li>
          {% if videos.has_next %}
            <a href="?page={{ videos.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">下一页</span>
            </a>
          {% else %}
              <a href="#" aria-label="Next">
              <span aria-hidden="true">下一页</span>
            </a>
          {% endif %}
      </li>
    </ul>
  </nav>
  <div class="player-shadow flexColumn">
    <div class="player-shadow-close" id="player-btn-close">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div class="shadow-player-wrapper flexCenter">
      <div class="shadow-player-btn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></div>
      <div class="shadow-player" id="dplayer"></div>
      <div class="shadow-player-btn"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div>
    </div>
    <div class="upload-btn">
      使用这个案例进行剪辑
    </div>
  </div>
</div>
{% endblock contents %}

{% block sidebar %}
<div class="sidebar">
  <div class="filter" id="targetClient">
    <div class="filter-title">性别</div>
    <div class="filter-content">
      <div class="filter-item-group">
        {% for targetClient in targetClients %}

                <div class="filter-item" id="{{ targetClient.id }}">{{ targetClient.name }}</div>

        {% endfor %}
      </div>
    </div>
  </div>
  <div class="filter" id="product_category">
    <div class="filter-title">产品类型</div>
        <div class="filter-content">
        {% for product_category in product_categories %}
         {% if forloop.counter0|divisibleby:4%}
             <div class="filter-item-group">
         {% endif %}
            <div class="filter-item" id="{{ product_category.id}}">{{ product_category.name}}</div>
         {% if forloop.counter|divisibleby:4%}
            </div>
         {% endif %}
        {% endfor %}
        </div>
  </div>
  <div class="filter" id="cameraScene">
    <div class="filter-title">拍摄场景</div>
    <div class="filter-content">
      <div class="filter-item-group">
       {% for cameraScene in cameraScenes %}
            <div class="filter-item" id="{{ cameraScene.id }}">{{ cameraScene.name }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="filter" id="serviceScene">
    <div class="filter-title">业务场景</div>
    <div class="filter-content">
      <div class="filter-item-group">
        {% for serviceScene in serviceScenes %}
                <div class="filter-item" id="{{ serviceScene.id }}">{{ serviceScene.name }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="filter" id="tempoStyle">
    <div class="filter-title">节奏风格</div>
    <div class="filter-content">
      <div class="filter-item-group">
        {% for tempoStyle in tempoStyles %}
            <div class="filter-item" id="{{ tempoStyle.id }}">{{ tempoStyle.name }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="filter" id="pictureStyle">
    <div class="filter-title">画面风格</div>
    <div class="filter-content">
      <div class="filter-item-group">
        {% for pictureStyle in pictureStyles %}
            <div class="filter-item" id="{{ pictureStyle.id }}">{{ pictureStyle.name }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock sidebar %}

{% block scripts %}
<script type="text/javascript">
  var filter = {};
  // 切换标签
  // $('.filter-item').click(function () {
  //   $(this).parent().children().each(function () {
  //     $(this).removeClass('active');
  //   });
  //   $(this).parent().siblings().each(function () {
  //     $(this).children().each(function () {
  //       $(this).removeClass('active');
  //     });
  //   });
  //   $(this).addClass('active');
  // });

  // 初始化过滤器
  initFilter();

  function initFilter() {
    $('.filter-item').click(function () {
        var queryParams = getFilterParams();
        window.open('./?' + queryParams, '_self');
    });

    function getFilterParams() {
        $('.filter-item-group').parent().parent().each(function() {
            var fileName = $(this).attr('id');
            filter[fileName] = $(this).find('.filter-item-group').children('.active').attr('id');
        });
        var res = '';
        for (var key in filter) {
            if(filter[key])
                res = res + key + '=' + filter[key] + '&';
        }
        return res.substring(0, res.length - 1);
    }
  }

  $('.video-item').click(function () {
    uid = $(this).attr('uid');
  });

  $('.upload-btn').click(function() {
    window.open('/edit/case_simulate?uid=' + uid);
  });

</script>
<script type="text/javascript" src="{% static 'js/player-shadow.js' %}"></script>
{% endblock scripts %}