{% extends 'aliwood/layout/with-siderbar-helper.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}" media="all">
{% endblock style %}

{% block contents %}
<div class="content dark full-screen paddingLeft">
  edit
</div>
{% endblock contents %}

{% block sidebar %}
<div class="sidebar">
  <div class="filter active">
    <div class="filter-title"><a href="./style_templat">风格模板</a></div>
  </div>
  <div class="filter">
    <div class="filter-title"><a href="./case_simulate">案例模仿</a></div>
  </div>
  <div class="filter">
    <div class="filter-title"><a href="./custom_params">参数自定义</a></div>
  </div>
</div>
{% endblock sidebar %}