/*背景颜色*/
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'PingFang SC', 'Microsoft Yahei';
}

.wrapper {
  flex: 1;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  z-index: 100;
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  margin-left: 0.83rem;
  margin-top: 0.28rem;
  padding: 0;
}

.navbar-brand a {
  display: inline-block;
}

.navbar-brand img {
  width: 2.84rem;
  height: 0.54rem;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center; 
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.navbar-nav .nav-link-home {
  padding-left: 0.68rem;
  padding-right: 0.68rem;
}

.navbar-nav .nav-link-data {
  padding-left: 0.68rem;
}

.nav-link a {
  font-size: 0.25rem;
  color: #5D5D5D;
  text-decoration: none;
}

.nav-link a:hover {
  color: #FACD52;
}

.navbar .nav-border {
  width: 2px;
  height: 0.36rem;
  background: #5D5D5D;
}

.nav-link .active {
  color: #FACD52;
}

.navbar-button {
  position: absolute;
  right: 0.6rem;
}

.wrapper .dark {
  background: #F7F7F5;
}

.content {
  width: 100%;
}

.full-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  padding-top: 1rem;
}

.paddingLeft {
  padding-left: 3.68rem;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.68rem;
  height: 100%;
  background: #FACD52;
  padding-top: 1rem;
}
