/*背景颜色*/
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'PingFang SC', 'Microsoft Yahei';
}

.wrapper {
  flex: 1;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  z-index: 100;
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  margin-left: 0.83rem;
  margin-top: 0.28rem;
  padding: 0;
}

.navbar-brand a {
  display: inline-block;
}

.navbar-brand img {
  width: 2.84rem;
  height: 0.54rem;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center; 
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.navbar-nav .nav-link-home {
  padding-left: 0.68rem;
  padding-right: 0.68rem;
}

.navbar-nav .nav-link-data {
  padding-left: 0.68rem;
}

.nav-link a {
  font-size: 0.25rem;
  color: #5D5D5D;
  text-decoration: none;
}

.nav-link a:hover {
  color: #FACD52;
}

.navbar .nav-border {
  width: 2px;
  height: 0.36rem;
  background: #5D5D5D;
}

.nav-link .active {
  color: #FACD52;
}

.navbar-button {
  position: absolute;
  right: 0.6rem;
}

.wrapper .dark {
  background: #F7F7F5;
}

.content {
  position: relative;
  width: 100%;
}

.padding83 {
  padding: 0.83rem;
}

.full-screen {
  position: absolute;
  top: 1rem;
  bottom: 0;
}

.paddingLeft {
  padding-left: 3.68rem;
}

.sidebar {
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 0;
  width: 3.68rem;
  background: #FACD52;
}

.glyphicon {
  top: 0;
}

.dropzone {
  min-height: 0 !important;
  border: 0 !important;
  background: none !important;
  padding: 0 !important;
}

.dropzone .dz-message {
  margin: 0;
}

.navbar-button .status-icon {
  position: absolute;
  top: 0.15rem;
  right: 0.2rem;
}

.history-status {
  width: 0.18rem;
  height: 0.18rem;
  border: 2.5px solid #5D5D5D;
  border-radius: 0.09rem;
}

.history-status-optimizing {
  background: #FACD52;
}

.history-status-editing {
  background: #F26D6D;
}

.history-status-edited {
  background: #87F26D;
}

.history-status-optimized {
  background: #A3A0FB;
}

.content-section .content-section-title {
  height: 0.59rem;
  font-size: 0.35rem;
  font-weight: bold;
  border-bottom: 2px solid #5D5D5D;
}

.content-section .content-section-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.content .upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.24rem;
  background: #C6C1B3;
  font-size: 0.18rem;
  border-radius: 0.15rem;
  cursor: pointer;
}

.content .upload-btn a {
  color: #43425D;
  text-decoration: none;
}

.flexColumn {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow-player-wrapper .shadow-player-btn {
  padding: 0 0.3rem;
  font-size: 0.6rem;
  color: #fff;
  cursor: pointer;
}

.player-shadow {
  display: none;
  position: absolute;
  top: 0.45rem;
  left: 3.68rem;
  right: 0;
  bottom: 1.11rem;
  background: rgba(137, 137, 137, 0.9);
  z-index: 1000;
}

.player-shadow .shadow-player {
  width: 7.6rem;
  height: 4.17rem;
}

.player-shadow-close {
  position: absolute;
  top: 0.66rem;
  right: 0.64rem;
  width: 0.4rem;
  height: 0.4rem;
  color: #fff;
  cursor: pointer;
  font-size: 0.26rem;
}

.dplayer-video-wrap {
  background: #43425D !important;
}
