.sidebar {
  padding: 0.67rem 0.44rem;
}

.sidebar .filter {
  padding-bottom: 0.14rem;
  margin-bottom: 0.16rem;
  border-bottom: 2px solid #5D5D5D
}

.filter .filter-title {
  font-size: 0.25rem;
  font-weight: bold;
  margin-bottom: 0.07rem;
}

.filter .filter-content {
  display: flex;
  flex-flow: column wrap;
}

.filter-item-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0.18rem;
}

.filter-item-group .active {
  background: #5D5D5D;
  color: #FACD52;
}

.filter-item-group .filter-item {
  padding: 0 0.05rem;
  border-radius: 0.05rem;
  cursor: pointer;
}

.video-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0.18rem 2.17rem 0.71rem 0.71rem;
}

.video-list-wrapper .video-item {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  margin-TOP: 0.53rem;
  margin-right: 0.4rem;
  cursor: pointer;
}

/* .video-list-wrapper .video-item:nth-child(8n) {
  margin-right: 0;
} */

.nav-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-pagination .pagination a {
  background: none;
  color: #43425D;
  border: 0;
}

.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus {
  background: #707070;
  color: #FACD52;
  border-radius: 6px;
}

.content .upload-btn {
  min-width: 1.87rem;
  height: 0.46rem;
  max-width: 2.4rem;
  margin-top: 0.41rem;
  background: #FACD52;
  margin-left: auto;
  margin-right: auto;
}

.player-shadow .upload-btn {
  width: 1.87rem;
  height: 0.46rem;
  margin-top: 0.48rem;
  background: #FACD52;
}