.content {
  padding-top: 0.75rem;
}

.sidebar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 0.44rem;
}

.sidebar .filter {
  padding-bottom: 0.14rem;
  margin-bottom: 1.97rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.filter .filter-title {
  font-size: 0.35rem;
  font-weight: bold;
  margin-bottom: 0.07rem;
}

.filter .filter-title a {
  text-decoration: none;
  color: #fff;
}

.sidebar .active {
  border-color: #5D5D5D;
  color: #5D5D5D;
}

.sidebar .active a {
  color: #5D5D5D;
}

.content-section-items {
  position: relative;
}

.content-section-items .video-item {
  display: inline-block;
  position: relative;
  width: 1.37rem;
  height: 1.72rem;
  padding: 0.08rem 0.08rem 0 0.08rem;
  background: #F7F7F5;
}

.content-section-items .active {
  background: #FACD52;
}

.content-section-items .video-item .video-item-thumbnail {
  width: 1.2rem;
  height: 1.2rem;
}

.content-section-items .video-item .video-item-describe {
  text-align: center;
  font-size: 0.21rem;
  font-weight: bold;
}

.content-section .upload-icon {
  width: 1.31rem;
  height: 1.31rem;
}

.content .upload-btn {
  position: absolute;
  bottom: 1.03rem;
  right: 0.75rem;
  width: 2.47rem;
  height: 0.64rem;
}

.content .active {
  background: #FACD52;
}

.style-template .upload-icon img {
  width: 1.31rem;
  height: 1.31rem;
}

.case-simulate .upload-icon img {
  width: 1.31rem;
  height: 1.31rem;
}

.case-simulate .content-section-item {
  display: inline-block;
  cursor: pointer;
}

.case-simulate .content-section-item img {
  width: 1.31rem;
  height: 1.31rem;
}

.select-btn {
  margin: 0 auto;
  margin-top: 0.39rem;
  width: 1.41rem;
  height: 0.37rem;
  text-align: center;
  border-radius: 6px;
}

.select-btn a {
  text-decoration: none;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
}

.player-shadow .video-title {
  width: 7.6rem;
  font-size: 0.3rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 0.16rem;
  margin-bottom: 0.2rem;
  border-bottom: 3px solid #fff;
}

.player-shadow .video-describe {
  margin-top: 0.2rem;
  font-size: 0.18rem;
  color: #fff;
}

.sidebar .filter-tip {
  color: #fff;
  font-size: 0.25rem;
  margin-bottom: 0.6rem;
}

.sidebar .filter-title {
  color: #fff;
}

.content-box {
  width: 11.77rem;
  height: 6.46rem;
  background: #43425D;
  text-align: center;
  font-weight: bold;
  margin-left: 1.61rem;
}

.content-box .content-box-title {
  font-size: 0.35rem;
  color: #fff;
  padding-top: 2.22rem;
  margin-bottom: 0.93rem;
}

.content-box .content-box-subtitle {
  font-size: 0.30rem;
  color: #AAA9A9;
  margin-bottom: 0.29rem;
}

.content-box  .progress {
  width: 7.17rem;
  margin: 0 auto;
  border-radius: 0.08rem;
}

.content-tip {
  margin: 0.22rem auto 0 auto;
  text-align: center;
  color: #5D5D5D;
}

.content-tip .content-tip-title {
  font-weight: bold;
  font-size: 0.3rem;
  margin-bottom: 0.18rem;
}

.content-tip .content-tip-detail {
  font-size: 0.18rem;
  line-height: 0.3rem;
}

.content-tip .content-tip-detail p {
  margin-bottom: 0;
}

.video-add-effect {
  position: relative;
  margin-top: 1.9rem;
  padding-left: 0.58rem;
}

.video-add-effect .video-player {
  width: 8.24rem;
  height: 4.52rem;
}

.video-add-effect .spec-effect-group {
  position: absolute;
  top: 0;
  right: 0.52rem;
  width: 5.75rem;
}

.spec-effect-group .spec-effect-title {
  color: #5D5D5D;
  font-size: 0.3rem;
  font-weight: bold;
  padding-bottom: 0.13rem;
  border-bottom: 3px solid #5D5D5D;
  margin-bottom: 0.35rem;
}

.spec-effect-item {
  margin-bottom: 0.65rem;
}

.spec-effect-item .upload-icon img {
  width: 1.31rem;
  height: 1.31rem;
  cursor: pointer;
}

.custom-param {
  padding-top: 1.12rem;
}

.custom-param .params-wrapper {
  width: 100%;
  height: 2.96rem;
  background: rgba(93, 93, 93, 0.7);
  margin-top: 0.32rem;
  margin-bottom: 0.32rem;
  padding-top: 0.17rem;
  padding-left: 0.32rem;
}

.param-item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.param-item .param-item-title {
  font-size: 0.25rem;
  color: #fff;
  margin-right: 0.1rem;
}

.param-item-selector .param-item-option {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 0.42rem;
  height: 0.4rem;
  background: #fff;
  cursor: pointer;
}

.param-item-selector .option-bg {
  width: 0.62rem;
  margin-right: 0.13rem;
}

.scenery-group {
  display: flex;
  justify-content: left;
  margin-top: 0.18rem;
  margin-left: 0.7rem;
}

.scenery-group .scenery-item {
  width: 0.62rem;
  height: 0.4rem;
  margin-right: 0.23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scenery-item-first {
  background: #FACD52;
}

.scenery-item-second {
  background: #FAD97D;
}

.scenery-item-third {
  background: #FCEAB8;
}

.scenery-item-fourth {
  background: #FDF2D2;
}

.scenery-item-fifth {
  background: #FAF6EA;
}

.param-item-group {
  display: flex;
  justify-content: left;
  margin-top: 0.32rem;
}

.param-item-selector {
  margin-right: 0.63rem;
}

.param-item-selector .active {
  background: #FACD52;
}

.upload-icon img {
  width: 1.31rem;
  height: 1.31rem;
}