.banner img {
  display: block;
  width: 100%;
  height: 7.67rem;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.11rem;
  background: #FACD52;
}

.slogan p {
  font-size: 0.35rem;
  color: #5D5D5D;
}