.flexBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.content .upload-icon img {
  width: 1.31rem;
  cursor: pointer;
}

.content .upload-describe {
  margin-top: 0.31rem;
}

.content .upload-describe p {
  font-family: 'Source Sans Pro';
  font-size: 0.17rem;
  color: #707070;
  line-height: 0.24rem;
  text-align: center;
  margin-bottom: 0;
}

.content .upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.87rem;
  height: 0.46rem;
  margin-top: 1.24rem;
  background: #FACD52;
  font-size: 0.18rem;
  border-radius: 0.15rem;
  cursor: pointer;
}

.content .rank-video {
  position: absolute;
  top: 2.84rem;
  left: 1.34rem;
  width: 9.97rem;
  height: 5.47rem;
  background: #000;
}

.content .rank-radar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.07rem;
  right: 1.29rem;
  width: 27.6%;
  height: 43.1%;
}

.content .rank-score {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.07rem;
  right: 1.29rem;
  width: 27.6%;
  height: 43.1%;
}

.rank-score .rank-score-title {
  font-size: 0.18rem;
  text-align: center;
}

.rank-score .rank-score-detail {
  font-size: 0.74rem;
  font-weight: bold;
}

.rank-tags {
  position: absolute;
  top: 2.23rem;
  left: 1.34rem;
}

.rank-tags .rank-tag-item {
  float: left;
  width: 1.23rem;
  height: 0.35rem;
  padding-top: 0.06rem;
  text-align: center;
  font-size: 0.18rem;
  font-weight: bold;
  cursor: pointer;
}

.rank-tags .active {
  background: #5D5D5D;
  color: #fff;
}