<!-- 帮助栏-->
{% block style %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/helper.css' %}" media="all">
{% endblock style %}
<div class="hepler-icon-open" id="hepler-icon-open">
	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
</div>
<div class="helper-wrapper" id="helper-wrapper">
	<div class="hepler-icon-close" id="hepler-icon-close">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</div>
	<div class="helper-title">视频评价</div>
	<div class="helper-content">
		<div class="helper-content-item">
			<div class="helper-content-item-subtitle"></div>
			<div class="helper-content-item-detail">平台提供了不同视频的体验质量评价工具。用户可以上传自己的视频来评估它在不同用途时的体验质量。</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// 提示栏初始化
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
	// 打开帮助框
	$('#hepler-icon-open').click(function() {
		$("#helper-wrapper").show();
		$("#hepler-icon-open").hide();
		$(".content").addClass('paddingHelperBar');
		$(".video-list-wrapper").css('padding-right', '0.71rem');
		$(".content-btn").css('right', '5.17rem');
	});
	// 关闭帮助框
	$('#hepler-icon-close').click(function() {
		$("#helper-wrapper").hide();
		$("#hepler-icon-open").show();
		$(".content").removeClass('paddingHelperBar');
		$(".video-list-wrapper").css('padding-right', '2.17rem');
		$(".content-btn").css('right', '1.04rem');
	});
</script>