<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<!-- 屏幕适配pc,移动端不缩放 -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
	{% block style %}
	{% endblock style %}
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
	{% block js %}
	{% endblock js %}
</head>

<body>
	<div class="wrapper">
		{% include '../components/navbar.html' %}

		{% block contents %}
		{% endblock contents %}

		{% block sidebar %}
		{% endblock sidebar %}

		{% block footer %}
		{% endblock footer %}
	</div>
	{% block scripts %}
	{% endblock scripts %}
</body>

</html>