{% extends 'aliwood/layout/common.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" media="all">
{% endblock style %}

{% block contents %}
  <div class="content">
    <div class="banner">
      <img src="{% static 'image/banner.png' %}">
    </div>
    <div class="slogan">
      <p>平台已收集了XXXX段视频数据，同时提供了视频分析、评价与剪辑工具</p>
    </div>
    <div class="video-tools">
      <div class="tool-content">
        <h2 class="tool-title">视频数据库与分析工具</h2>
        <div class="tool-underline underline-long"></div>
        <p class="tool-describe">我们的数据库提供了大量优质的广告短视频及其特征数据。数据主要分为两个部分，一部分为广告特征数据，另一部分为视频剪辑特征数据。广告特征为语义标签，包含了模特性别、产品类型、业务场景和视频表现风格等标签。剪辑特征为可计算数据，主要包括镜头数量和时长、主体运动变化、画面色调变化等。同时我们将数据进行了可视化，以此方便用户了解不同视频的特征数据差异。在我们数据库中用户除了可以浏览每段广告短视频的特征数据，还可以上传自己的短视频进行剪辑数据的分析。</p>
        <div class="pic-analyse">
          <img src="{% static 'image/analyseTool.png' %}">
        </div>
      </div>
      <div class="tool-content">
        <h2 class="tool-title">视频剪辑工具</h2>
        <div class="tool-underline underline-short"></div>
        <p class="tool-describe">广告短视频生成系统，用户可以上传本地素材进行短视频生成。平台一共提供了三种操作模式来协助用户剪辑视频，分别是风格模版，案例模仿和参数自定义。视频剪辑完成后，用户可以进行添加背景音乐等其他操作。风格模版模式中我们提供了4种典型的风格模版，用户只需要选择一个风格、上传自己的素材就可以得到一段典型风格的视频。案例模仿模式不仅支持用户使用数据库的案例进行模仿剪辑，还支持用户自主上传想模仿的视频案例。参数自定义模式提供了较大的操控空间，用户可以通过调整参数来个性定制自己的剪辑风格。</p>
        <div class="pic-edit">
          <img src="{% static 'image/editTool.png' %}">
        </div>
      </div>
      <div class="tool-content">
        <h2 class="tool-title">视频评价工具</h2>
        <div class="tool-underline underline-short"></div>
        <p class="tool-describe">广告短视频评价系统，用于对广告短视频进行自动评价。系统主要包含视频自身质量和用户反应预测两个方面来评价。视频质量包括视频内容丰富度、声音匹配度、画面美学三个维度。用户反应预测主要包括用户注意力、视频引发的用户情感、用户对视频的认知负荷三个维度。系统会对视频进行以上六个维度的评估，并给出各维度得分，然后根据视频类型的不同进行综合评估，给出一个总体评价。</p>
        <div class="pic-rank">
          <img src="{% static 'image/rankTool.png' %}">
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}

{% block foot %}
  <footer>
    <div class="footer-logo">
      <img src="{% static 'image/logo.png' %}">
    </div>
    <p class="foot-note">© 2019 by IDEA LAB</p>
  </footer>
{% endblock %}